<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProBatchExportMov.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProBatchExportMov.My.MySettings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=W7DEV01;Persist Security Info=True;Password=A123456,;User ID=sa;Initial Catalog=ProBatch"
            providerName="System.Data.OleDb" />
        <add name="ProBatchExportMov.My.MySettings._840002C1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\__RapidMixExchangeData\RapidMix2.11.2016\ProBatch+\db\840002C1.mdb;Persist Security Info=False;Mode=16;Jet OLEDB:Database Locking Mode=0"
            providerName="System.Data.OleDb" />
        <add name="ProBatchExportMov.My.MySettings._840002P1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\__RapidMixExchangeData\RapidMix2.11.2016\ProBatch+\db\840002P1.mdb;Persist Security Info=False;Mode=&quot;Share Deny None&quot;;Jet OLEDB:Database Locking Mode=0"
            providerName="System.Data.OleDb" />
        <add name="ProBatchExportMov.My.MySettings._840002R1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\__RapidMixExchangeData\db.22.11.2016\840002R1.MDB;Persist Security Info=True;Jet OLEDB:Database Locking Mode=0"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <ProBatchExportMov.My.MySettings>
            <setting name="f_Compatta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="f_DeleteBefore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="i_AggregationType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c_SCA" serializeAs="String">
                <value>ZSCA</value>
            </setting>
            <setting name="c_CAR" serializeAs="String">
                <value>ZCAR</value>
            </setting>
        </ProBatchExportMov.My.MySettings>
    </userSettings>
</configuration>
